body {
    box-sizing: border-box;
    background-color: #f1f1f1;
    width: 80vw;
    height: 80vh;
    padding: auto;
    margin: auto;
    display: block;
    
}
h2 {
    margin: 0;
    font-family: montecarlo;
    text-align: center;
}
div {
    margin: 10px 10%;
}
.box1 {
    display: block;
}
p {
    text-align: justify;
    margin: 10px 20px;
    font-family: montserrrat;
    display: block;
}
a {
    text-align: center;
    margin: 10px 20px;
    font-family: montserrrat;
    display: block;
}

